h1, h2 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: .7;
	background: transparent;
	position: relative;
	
}

#april {
	font-color: #6F1224;
}



h1 {
	font-family: 'Zeyada', cursive;
	font-size: 75px;
	color: #222327;
	word-spacing:-15px;
}

h2 {
	font-family:'Amatic SC', cursive;
	font-size: 125px;
	text-align: right;
	height: .8;
	color: #6F1224;
	letter-spacing: .05em;
}

.home {
	background: #EBEBEB;
	border: 20px solid;
	border-color: #222327;
	margin: 20px auto;
	padding: 20px;
	width: 400px;
	height: 500px;
}

.about {
	background: #EBEBEB;
	border: 20px solid;
	border-color: #222327;
	margin: 20px auto;
	padding: 20px;
	width: 400px;
	height: 500px;
	overflow:auto;
}

.mainmenu {
	text-align: center;
	position: relative;
	top: 5px;
	list-style-type: none;
	font-size: 23px;
	line-height: .2;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.mainmenu a {
	font-family: 'Amatic SC', cursive;
	color: #615D5D;
	text-decoration: none;
	text-align: center;
	display:inline;
}

.mainmenu a:hover {
	color: #000000;
	text-decoration: none;
}

.mainmenu li {
	display:inline;
	text-align: center;
	margin: 0 5px;
}


p {
	font-family:'Amatic SC', cursive;
	font-size: 20px;
	text-align: center;
	letter-spacing: .02em;
	line-height:.2;
	word-spacing: .1em;
}

.aboutdescription {
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 12px;
	text-align: justify;
	color: #919195;
}


.social-links {
	line-height: .5;
	width:500px;
	margin: 50px auto;
}

.social-links a img {
	border:none;
}


.contact a {
	text-decoration: none;
	color: #615D5D;
}

.contact a:hover {
	color: #000000;
	text-decoration: none;
}

.followapril {
	background: #EBEBEB;
	border: 20px solid;
	margin: 20px auto;
	padding: 20px;
	width: 400px;
	height: 500px;
}

.youtube {
	margin-left: 115px;
	margin-right: auto;
}

.twitter {
	margin-left: 135px;
	margin-right: auto;
}

.facebook {
	margin-left:155px;
	margin-right: auto;
}

.youtube .twitter .facebook {
	display:block;
	border: none;

}

.return {
	float: right;
}

.return a {
	font-family: 'Amatic SC', cursive;
	color: #615D5D;
	font-size: 23px;
	text-decoration: none;
	text-align: right;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.return a:hover {
	color: #000000;
	text-decoration: none;
}



img#me {
	margin: 0 100px;
	opacity:0.4;
	filter:alpha(opacity=40);
	  -webkit-border-radius: 100px;
  		 -moz-border-radius: 100px;
  			  border-radius: 100px;
}

